$c-slate-blue: #7653f5
$c-jungle-green: #1b1b2f
$c-yellow: #f2e100
$c-turquoise: #00dccf
$c-bubbles: #eafdff
$c-gainsboro: #d1dbdd
$c-gainsboro2: #dae2e2
$c-paynes-grey: #464556
$c-white: #fff
$c-black: #222
$c-egg-blue: #00dcd0
$c-cornflower-blue: #7554f3
$c-martinique: #373561
$c-geyser: #d2dcdd
$c-gun-powder: #464557

$c-main-background: $c-white
$c-main-foreground: $c-black

$c-hero-sub: $c-geyser
$c-hero-h1: $c-bubbles
$c-hero-signup: $c-egg-blue
$gradient-top: $c-martinique
$gradient-bottom: $c-cornflower-blue
$action-button-color: $c-egg-blue

$c-blockquote-background: $c-gun-powder
$c-blockquote-color: $c-bubbles

$c-h3-color: $c-cornflower-blue

$c-numbered-color: $c-cornflower-blue
