.page-footer
  background-color: $c-very-light-grey

  .container
    padding-bottom: 1rem
    padding-top: 2rem

  ul
    display: flex
    flex-direction: column
    list-style-position: outside
    list-style-type: none
    padding-left: 0

    li
      flex: 0 0 auto
      padding-top: .5rem

      a
        text-decoration: none

  @include media-breakpoint-up(md)
    nav
      margin-bottom: 2rem
