.page-footer
  background-color: $c-very-light-grey

  .container
    padding-bottom: 1rem
    padding-top: 2rem

  .nav-link
    padding: 0
    text-decoration: none


  @include media-breakpoint-up(md)
    nav
      margin-bottom: 2rem
