$v-header-height: 4rem
$v-header-border-bottom-width: .06rem

.header
  background-color: $c-white
  border-bottom: $v-header-border-bottom-width solid $c-alabaster
  height: $v-header-height

  .navbar-toggler
    border: 0
    outline: 0

  nav
    background-color: $c-white
    height: $v-header-height - $v-header-border-bottom-width
    position: relative

    img
      display: inline-block
      width: 6rem


  .nav-item
    .nav-link
      color: $c-black
      cursor: pointer
      text-decoration: none

  .hamburger-nav
    background-color: $c-white
    left: 0
    padding-bottom: $v-header-height * .25
    padding-top: $v-header-height * .25
    position: absolute
    top: $v-header-height
    transform: translate3d(0, -100%, 0)
    transition: transform .5s
    visibility: hidden
    width: 100vw
    z-index: -10

    @include media-breakpoint-up(lg)
      display: none

  .hamburger-nav-open
    transform: translate3d(0, 0, 0)
    visibility: visible
