.header
  @include media-breakpoint-up(lg)
    font-size: .8rem

  backdrop-filter: blur(2px)
  background-color: $c-header-background
  height: $v-header-height
  justify-content: center
  margin-bottom: - $v-header-height

  &::after
    background-color: $c-header-background-border
    content: ''
    display: block
    height: 1px

  &.shade-burger-nav-open
    &::after
      display: none

  .navbar
    background-color: transparent
    height: $v-header-height - $v-header-border-bottom-width
    padding-left: $grid-gutter-width * .5
    padding-right: $grid-gutter-width * .5




    .navbar-brand
      align-self: flex-start
      flex: 0 0 $v-logo-width
      text-decoration: none
      width: $v-logo-width

    svg
      height: auto
      max-width: 100%
      width: $v-logo-width

      g
        fill: $c-white

    .navbar
      align-self: flex-end
      flex: 1 0 auto

    .navbar-nav
      @include media-breakpoint-down(md)
        display: none

      flex-direction: row
      justify-content: flex-end

  .nav-item
    .nav-link
      color: $c-white
      cursor: pointer
      padding-left: 0
      padding-right: 1.5rem
      text-decoration: none

  .navbar-toggler
    border: 0
    outline: 0
    padding-right: 0

    .navbar-toggler-icon
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(244,244,244, 0.9)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E")

$transition-time: .5s
.hamburger-nav
  @include media-breakpoint-up(lg)
    display: none
  backdrop-filter: blur(2px)
  background-color: rgba(34, 34, 34, .5)
  left: 0
  padding-bottom: $v-header-height * .25
  padding-top: $v-header-height * .25
  position: fixed
  top: $v-header-height
  transform: translate3d(0, -100%, 0)
  transition: transform $transition-time, background-color $transition-time
  width: 100vw
  z-index: 1

  .nav
    padding-left: $grid-gutter-width * .5

  .nav-item
    .nav-link
      color: $c-white
      cursor: pointer
      padding-left: 0
      padding-right: 1.5rem
      text-decoration: none
      opacity: 0
      transition: opacity $transition-time

.hamburger-nav-open
  transform: translate3d(0, 0, 0)
  background-color: $c-header-background
  transition: transform $transition-time 0 ease, background-color $transition-time

  .nav-item
    .nav-link
      opacity: 1
      transition: opacity  $transition-time

  &::after
    background-color: $c-header-background-border
    content: ''
    display: block
    height: 1px
    left: 0
    position: relative
    top: $v-header-height * .25
    width: 100vw
