$v-header-height: 4rem
$v-header-border-bottom-width: .06rem

.header
  background-color: $c-white
  border-bottom: $v-header-border-bottom-width solid $c-alabaster
  height: $v-header-height
  border-bottom: 1px solid $c-very-light-grey

  .navbar-toggler
    border: 0
    outline: 0
    padding-right: 0

  .navbar
    padding-left: 15px

  nav
    height: $v-header-height - $v-header-border-bottom-width
    position: relative
    background-color: $c-white

    img
      display: inline-block
      width: 6rem


  .nav-item
    .nav-link
      color: $c-black
      cursor: pointer
      padding-left: 0
      padding-right: 1.5rem
      text-decoration: none

  .hamburger-nav
    background-color: $c-white
    left: 0
    padding-bottom: $v-header-height * .25
    padding-top: $v-header-height * .25
    position: fixed
    top: $v-header-height - .5rem
    transform: translate3d(0, -100%, 0)
    transition: transform .3s
    visibility: hidden
    width: 100vw
    z-index: -10

    .nav
      padding-left: $grid-gutter-width * .5

    @include media-breakpoint-up(lg)
      display: none

  .hamburger-nav-open
    transform: translate3d(0, 0, 0)
    visibility: visible
