html
  box-sizing: border-box

*, *:before, *:after
  box-sizing: inherit

html,
body
  background-color: $c-main-background
  color: $c-main-foreground

main
  padding: 0
  margin: 0

.text-center
  text-align: center

.text-right
  text-align: right

.page
  &--container
    +respond-to(md)
      margin: 0 auto
      max-width: $v-container-width-md

    +respond-to(lg)
      max-width: $v-container-width-lg

.header
  background-color: $c-header-background
  border-bottom: $v-header-border-bottom-width solid $c-alabaster
  height: $v-header-height

  &--nav
    background-color: $c-header-background
    height: $v-header-height - $v-header-border-bottom-width

    &--logo
      display: inline-block
      width: $v-header-logo-width

#navbarSupportedContent
  .nav-link
    color: $c-silver-chalice
    cursor: pointer
    font-size: 16px
    font-weight: 300
    text-decoration: none

  @media (max-width: $v-container-width-sm)
    background-color: $c-transparent-grey
    left: 0
    position: absolute
    top: $v-header-height
    width: 100vw

    .navbar-nav
      align-items: center
      display: flex
      justify-content: center
      margin-bottom: $v-header-height * .5
      margin-top: $v-header-height * .5

    .nav-link
      color: $c-white
      font-weight: 400


