@import 'values'
@import '../../node_modules/slick-carousel/slick/slick'

// These variables are default, so uncomment and set if you need them different
//
// $slick-font-path: './fonts/'
// $slick-font-family: 'slick'
// $slick-loader-path: './'
$slick-prev-character: ''
$slick-next-character: ''
// $slick-dot-character: '\2022'
// $slick-opacity-default: .75
// $slick-opacity-on-hover: 1
// $slick-opacity-not-active: .25

$slick-arrow-color: yellow //<-- todo hack
$slick-dot-color: fuchsia
$slick-dot-color-active: blue
$slick-dot-size: 1rem

@import '../../node_modules/slick-carousel/slick/slick-theme'
