html
  font-size: $v-base-font-size
  line-height: $v-base-line-height

  +respond-to(lg)
    font-size: $v-base-font-size*1.2
    line-height: $v-base-line-height*1.1

html,
body
  font-family: 'Roboto', sans-serif


h1
  font-size: 30px
  color: $c-dove-grey
  font-weight: 700
  line-height: 1.15
  max-width: 40rem

  &.page-title
    font-size: 32px
    font-weight: 700
    line-height: 1.1

  &.reinforcement
    font-size: 1.4rem
    font-weight: 500
    padding: 0 2rem

h2
  font-size: 1.35rem
  font-weight: 500
  color: $c-h2-color
  text-transform: uppercase
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5)

h3
  font-size: 1.125rem
  font-weight: 300
  color: $c-h3-color

p
  margin-top: .25rem
  margin-bottom: .25rem
  font-size: 24px
  font-weight: 300
  color: $c-dove-grey
  line-height: 1.7

  &.subtitle
    font-size: 1.25rem
    line-height: 1.5
    font-weight: 300
    color: $c-mine-shaft

  &.small
    font-size: .875rem

a, a:active, a:visited, a:hover
  color: $c-a-color
  text-decoration: underline

a:hover
  color: $c-a-hover-color
