$base-font-size: 20px
$base-line-height: 1.5
$base-font-weight: 400

html,
body
  color: $c-black
  font-family: 'IBM Plex Sans', Helvetica, sans-serif
  font-size: $base-font-size
  font-weight: $base-font-weight
  line-height: $base-line-height

  @include media-breakpoint-up(lg)
    font-size: $base-font-size * 1.1
    line-height: $base-line-height * 1.1

h1, h2, h3, h4, h5, p, li, dd, dt, td, blockquote
  color: $c-black

h1
  font-size: 2.6rem
  font-weight: 700
  line-height: 1.15
  margin-bottom: 1rem
  margin-top: .5rem

h2
  font-size: 2rem
  font-weight: 700

h3
  font-size: 1.15rem
  font-weight: 700

p
  font-size: 1rem
  margin-bottom: 1rem

.text-two-colums
  @include media-breakpoint-up(md)
    column-gap: 2rem
    columns: 2

a
  &,
  &:active,
  &:visited
    color: $c-a-color
    text-decoration: underline

  &:hover
    color: $c-a-hover-color
