$v-container-width-md: 720px
$v-container-width-lg: 940px

$v-header-height: 4rem
$v-header-logo-width: 4.5rem

$v-base-font-size: 16px
$v-base-line-height: 1.4


$v-article-separator-width: .03rem
$v-header-border-bottom-width: .06rem
