$c-yellow: #f2e100
$c-white: #fff
$c-black: #222
$c-dove-grey: #626262
$c-evil-grey: #666
$c-other-light-grey: #a4a4a4
$c-mine-shaft: #3f3f3f
$c-mine-shaft-dark: #262626
$c-very-light-grey: hsla(0, 0%, 0%, .13)
$c-transparent-grey: rgba(0, 0, 0, .7)
$c-transparent-white: rgba(255, 255, 255, .9)
$c-alabaster: #f8f8f8

// Bootstrap Grid settings adapted
$grid-breakpoints: ( xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px )
// Container max width xl adapted to 960px
$container-max-widths: ( sm: 540px, md: 720px, lg: 960px, xl: 960px )
