$v-header-height: 4rem
$v-header-logo-width: 6rem

$v-base-font-size: 16px
$v-base-line-height: 1.4

$v-h1-font-size: 1.7rem
$v-h1-font-weight: 900
$v-h2-font-size: 1.35rem
$v-h2-font-weight: 500
$v-h3-font-size: 1.125rem
$v-h3-font-weight: 300
$v-p-font-size: 1rem
$v-p-font-weight: 300
$v-p-small-font-size: .875rem
