%script{ src: 'https://cdn.jsdelivr.net/jquery/3.1.1/jquery.min.js' }
%script
  = "var host = '#{hosturl}/javascripts/';"
  - if config[:environment] == :development
    = "var appJs = host + 'site.js'"
  - else
    = "var appJs = host + 'site.min.js';"
:javascript
  var bodyElement = document.getElementsByTagName('body')[0]
  if(!window.jQuery) {
    var jqueryScriptTag = document.createElement('script');
    jqueryScriptTag.src = host+'jquery.min.js';
    bodyElement.appendChild(jqueryScriptTag);
  }
  var appJsTag = document.createElement('script');
  appJsTag.src = appJs;
  bodyElement.appendChild(appJsTag);
