%header.main-header
  %h1.logo
    %a{ href: '#' }
      %img{ src: '/images/logo.png', alt: 'AI-First Logo'}
  // %nav.header-nav
  //   .burger#burger
  //     .lines
  //     .clicker &nbsp;
  //   %ul

