.main-header
  position: fixed
  width: 100%
  background-color: $c-jungle-green
  height: $v-header-height
  margin: 0
  padding: 0

.logo
  margin: 0
  padding: 0
  height: 100%
  display: flex
  flex-directon: column
  align-items: center

  a
    width: $v-header-logo-width
    margin-left: $v-header-logo-margin-left

    img
      width: $v-header-logo-width

