html
  box-sizing: border-box

*, *:before, *:after
  box-sizing: inherit

html,
body
  background-color: $c-main-background
  color: $c-main-foreground

main
  padding: $v-header-height 0 0
  margin: 0

@import 'article'
@import 'testimonial'
@import 'page-header'
@import 'page-footer'
@import 'member'

@import 'numbered'
@import 'cards-wide'
@import 'cards-single'