
html
  box-sizing: border-box

*, *:before, *:after
  box-sizing: inherit

html,
body
  background-color: $c-main-background
  color: $c-main-foreground

main
  padding: $v-header-height 0 0
  margin: 0

article
  padding: 0
  margin: 0

  .container
    padding: 1rem

article.geyser
  background-color: $c-geyser

article.reinforcement
  background-color: $c-geyser

article.blockquote
  background-color: $c-blockquote-background

@import 'header'
@import lead
@import 'footer'
@import 'blockquote'
@import numbered
@import cards-wide
@import cards-single
