---
title: Welcome to Middleman
---

%article.lead
  .container
    %img.hero{src: '/images/brain.svg', alt: 'brain' }
    %h1.hero Adopt artificial intelligence to create business value
    %p.hero-sub Conceptualize, prototype and develop your AI ventures
    %p.signup-button
      %a
        %span Sign up now

%article.blockquote
  .container
    %blockquote
      %p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua
      %p Felix Muster-Hornberger

%article
  .container
    %h1 Our offer
    %h3 We are your one-stop-shop Artificial Intelligence partner
    %p We accelerate the transformation and creation of your new products and services by combining your industry expertise with our lean product development, machine learning, data analytics, computer vision and natural language processing skills. We offer a proven, pragmatic, hands on, interdisciplinary and lean innovation process that minimizes risks and costs by streamlining the development and testing of new (proof of) concepts
    %p We offer a proven, interdisciplinary and lean innovation process that minimizes risks and costs by streamlining the development and testing of new concepts

  .container
    %h2 Your Benefits
    %ul.numbered
      %li
        %div
          %h3 Value enablers
          %p Finally make sense of the data collected with machine learning, pattern recognition, natural language processing, computer vision and expert systems solutions.
      %li
        %div
          %h3 Technology providers
          %p Use advanced technologies for high-throughput, adaptive data and image analysis and open-up totally new and lately unaccessible business opportunities.
      %li
        %div
          %h3 Rapid prototypers
          %p From your idea to a minimal viable product in no time - pragmatic and hands on.


%article.reinforcement
  .container
    %h1 Combining your industry expertise with our machine learning, data analytics, computer vision and natural language processing skills.

%article.geyser
  .container
    %h1 Opportunities
    %p Artificial Intelligence solutions can sense or perceive the world and collect data; understand the information collected; and act independently—all underpinned by the ability to learn and adapt over time.

    .cards-wide
      %h2 Sense
      .container
        .card
          %h3 Computer vision
          %p Acquiring, processing, analyzing and understanding images. Video analytics integrated with surveillance cameras provides situational awareness of business operations, delivering insights about risk, safety and security. In retail, video analytics can be used to gain insights into shopper behaviors effectively and systematically.
          %a{ href: '#' } read more
        .card
          %h3 Audio processing
          %p Identifying, recognizing and analyzing sounds and speech. Speech recognition technologies integrated into call centers automate the identification of callers.
          %a{ href: '#' } read more
        .card
          %h3 Sensor processing
          %p Processing and analyzing information from sensors other than cameras and microphones. In an agricultural setting, sensors in the field can be integrated with software to deliver “precision agriculture”— sensing and communicating status about temperature, humidity, etc., enabling more precise care for crops.
          %a{ href: '#' } read more
    .cards-wide
      %h2 Comprehend
      .container
        .card
          %h3 Natural language processing
          %p Understanding and generating language in spoken and/or written form. Personal assistants on consumer smart phones provide guidance and services using natural language. Increasingly, search capabilities include the ability to understand the meaning of what a person is saying, not just recognizing key words or doing statistical retrieval.
          %a{ href: '#' } read more
        .card
          %h3 Knowledge representation
          %p Depicting and communicating knowledge to facilitate inference and decision making. Knowledge-based tools provide the capability to link a particular search or piece of content to other relevant content on the web. This is done by tagging all content and then mapping it to a larger representation of knowledge. For example, a search for “Da Vinci” will link one to particular paintings and creations, as well as to Italy, to the Renaissance, and so forth.
          %a{ href: '#' } read more
    .cards-wide
      %h2 Act
      .container
        .card
          %h3 Inference engines
          %p Deriving answers from a static knowledge base such as business rules. Solutions can apply rules to make automated loan approval or credit decisions, or granting of visas. Such capabilities can deliver accurate decisions in a fraction of the time of manual decision making.
          %a{ href: '#' } read more
        .card
          %h3 Expert systems
          %p Emulating the decision-making ability of a human expert and solving complex problems by reasoning with the information available in its knowledge base. Medical diagnostics as well as legal research can be significantly aided by the ability of expert systems to sift through millions of data sources, synthesize information and present it to a user.
          %a{ href: '#' } read more
        .card
          %h3 Machine learning
          %p Altering the decision process based on experience. Software tools and personal agents can learn from users to improve productivity—for example, by sorting email, then extracting calendar entries and action items.
          %a{ href: '#' } read more


%article.reinforcement
  .container
    %h1 Request a demo of our analytics capabilities for your own, specialized application.
