---
title: Welcome to Middleman
---

%article.lead
  .container
    %img.hero{src: '/images/brain.svg', alt: 'brain' }
    %h1.hero Capture the value of Artificial Intelligence for your business
    %p.hero-sub Attend one of our weekly Q&A sessions or register for our next webinar to get started with AI.
    %p.signup-button
      %a
        %span Sign up now
%article.blockquote
  .container
    %blockquote
      %p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua
      %p Felix Muster-Hornberger

%article.reinforcement
  .container
    %h1 Bla bla reinforcement

%article
  .container
    %h1 Our offer
    %h3 A proven process to conceptualize, prototype and develop your AI venture.

%article
  .container
    %h1 Your Benefits
    %h3 We are your one-stop-shop Artificial Intelligence partner
    %p We accelerate the transformation and creation of your new products and services by combining your industry expertise with our Artificial Intelligence know-how.
    %p We offer a proven, interdisciplinary and lean innovation process that minimizes risks and costs by streamlining the development and testing of new concepts

%article
  .container
    %ul.numbered
      %li
        %div
          %h3 Value enablers
          %p Finally make sense of the data collected with machine learning, pattern recognition, natural language processing, computer vision and expert systems solutions.
      %li
        %div
          %h3 Technology providers
          %p Use advanced technologies for high-throughput, adaptive data and image analysis and open-up totally new and lately unaccessible business opportunities.
      %li
        %div
          %h3 Rapid prototypers
          %p From your idea to a minimal viable product in no time - pragmatic and hands on.

%article.geyser
  .container
    %h1 Opportunities
    %p Artificial Intelligence solutions can sense or perceive the world and collect data; understand the information collected; and act independently—all underpinned by the ability to learn and adapt over time.

    .cards-wide
      .container
        .card
          %h3 Computer vision
          %p Acquiring, processing, analyzing and understanding images Video analytics integrated with surveillance cameras provides situational awareness of business
          %a{ href: '#' } read more
        .card
          %h3 Use case
          %p Acquiring, processing, analyzing and understanding images Video analytics integrated with surveillance cameras provides situational awareness of business
          %a{ href: '#' } read more
    .cards-wide
      .container
        .card
          %h3 Natural language processing
          %p Understanding and generating language in spoken and/or written form Personal assistants
          %a{ href: '#' } read more
        .card
          %h3 Use case
          %p Acquiring, processing, analyzing and understanding images Video analytics integrated with surveillance cameras provides situational awareness of business
          %a{ href: '#' } read more
    .cards-wide
      .container
        .card
          %h3 Inference engines
          %p Deriving answers from a static knowledge base such as business rules Solutions can apply rules to make automated loan approval…
          %a{ href: '#' } read more
        .card
          %h3 Use case
          %p Acquiring, processing, analyzing and understanding images Video analytics integrated with surveillance cameras provides situational awareness of business
          %a{ href: '#' } read more

%article
  .container
    .cards-single
      .card
        %h3 Value enablers
        %p Finally make sense of the data collected with machine learning, pattern recognition, natural language processing, computer vision and expert systems solutions.
      .card
        %h3 Technology providers
        %p Use advanced technologies for high-throughput, adaptive data and image analysis and open-up totally new and lately unaccessible business opportunities.
