---
title: Welcome to Middleman
---

%article.lead
  %img.hero{src: '/images/brain.svg', alt: 'brain' }
  %h1.hero Capture the value of Artificial Intelligence for your business
  %p.hero-sub Attend one of our weekly Q&A sessions or register for our next webinar to get started with AI.
  %p.signup-button
    %a Sign up now
