html
  font-size: 16px
  line-height: 1.4

html,
body
  font-family: "Lato", sans-serif


h1
  font-size: 26px
  font-weight: bold

h1.hero,
p.hero-sub
  color: $bubbles


h2
  font-size: 18px
  font-weight: bold

h3
  font-size: 18px
  font-weight: normal

p
  font-size: 16px
  font-weight: normal

p.small
  font-size: 14px

p.hero-sub
  font-size: 18px
  font-weight: 300
