---
title: We are your one-stop-shop artificial intelligence partner
---

%article.article.article--hero
  .page-container
    .hero
      %img.hero__image{src: '/images/brain.svg', alt: 'brain' }
      %h1.hero__title Adopt artificial intelligence to create business value
      %p.hero__subtitle Conceptualize, prototype and develop your AI ventures
      %a.hero__button{ href: '#contact' }
        Get in touch

%article.article.article--blockquote
  .page-container
    %blockquote.testimonial
      %p.testimonial__quote Our newly developed inspection software just rocks. The AI first team delivered beyond expectations!
      %p.testimonial__author Quality improvement program manager - Logistics


%article.article
  .page-container
    %h1 Our offer
    %h3 We are your one-stop-shop artificial intelligence partner
    %p We accelerate the transformation and creation of your new products and services by combining your industry expertise with our Artificial Intelligence know-how.
    %p We offer a proven, interdisciplinary and lean innovation process that minimizes risks and costs by streamlining the development and testing of new concepts.

    .process
      .process__step.process__step--1
        .process__number 1
        %h3 Definition
      .process__step.process__step--2
        .process__number 2
        %h3 User Testing
      .process__step.process__step--3
        .process__number 3
        %h3 Deployment

%article.article.article--reinforcement
  .page-container
    %h1.reinforcement Combining your industry expertise with our machine learning, data analytics, computer vision and natural language processing skills.

%article.article
  .page-container
    %h2 Your Benefits
    %ul.numbered
      %li
        %div
          %h3 The power of data
          %p Finally make sense of the data collected with machine learning, pattern recognition, natural language processing, computer vision and expert systems solutions.
      %li
        %div
          %h3 First class technology
          %p Use advanced technologies for high-throughput, adaptive data and image analysis and open-up totally new and lately unaccessible business opportunities.
      %li
        %div
          %h3 Rapid prototyping
          %p From your idea to a minimal viable product in no time - pragmatic and hands on.

%article.article.article--geyser
  .page-container
    %h1 Artificial intelligence opportunities
    %p Artificial Intelligence solutions can sense or perceive the world and collect data; understand the information collected; and act independently—all underpinned by the ability to learn and adapt over time.

    %h2 Sense
    .cards-wide
      .container
        .card
          %h3 Computer vision
          %p Acquiring, processing, analyzing and understanding images. Video analytics integrated with surveillance cameras provides situational awareness of business operations, delivering insights about risk, safety and security. In retail, video analytics can be used to gain insights into shopper behaviors effectively and systematically.
        .card
          %h3 Audio processing
          %p Identifying, recognizing and analyzing sounds and speech. Speech recognition technologies integrated into call centers automate the identification of callers.
        .card
          %h3 Sensor processing
          %p Processing and analyzing information from sensors other than cameras and microphones. In an agricultural setting, sensors in the field can be integrated with software to deliver “precision agriculture”— sensing and communicating status about temperature, humidity, etc., enabling more precise care for crops.

    %h2 Comprehend
    .cards-wide
      .container
        .card
          %h3 Natural language processing
          %p Understanding and generating language in spoken and/or written form. Personal assistants on consumer smart phones provide guidance and services using natural language. Increasingly, search capabilities include the ability to understand the meaning of what a person is saying, not just recognizing key words or doing statistical retrieval.
        .card
          %h3 Knowledge representation
          %p Depicting and communicating knowledge to facilitate inference and decision making. Knowledge-based tools provide the capability to link a particular search or piece of content to other relevant content on the web. This is done by tagging all content and then mapping it to a larger representation of knowledge. For example, a search for “Da Vinci” will link one to particular paintings and creations, as well as to Italy, to the Renaissance, and so forth.

    %h2 Act
    .cards-wide
      .container
        .card
          %h3 Inference engines
          %p Deriving answers from a static knowledge base such as business rules. Solutions can apply rules to make automated loan approval or credit decisions, or granting of visas. Such capabilities can deliver accurate decisions in a fraction of the time of manual decision making.
        .card
          %h3 Expert systems
          %p Emulating the decision-making ability of a human expert and solving complex problems by reasoning with the information available in its knowledge base. Medical diagnostics as well as legal research can be significantly aided by the ability of expert systems to sift through millions of data sources, synthesize information and present it to a user.
        .card
          %h3 Machine learning
          %p Altering the decision process based on experience. Software tools and personal agents can learn from users to improve productivity—for example, by sorting email, then extracting calendar entries and action items.

%article.article
  .page-container
    %h1 Team
    .cards-single
      .card
        %a.member{ href: 'mailto:flavio.trolese@ai-first.ch' }
          %img.member__photo{ src: '/images/team/trolese.jpg' }
          .member__info
            %h3.member__name Flavio Trolese
            .member__company
              4Quant
            .member__description
              Machine learning, image analytics
      .card
        %a.member{ href: 'mailto:philippe.tracol@ai-first.ch' }
          %img.member__photo{ src: '/images/team/tracol.jpg' }
          .member__info
            %h3.member__name Philippe Tracol
            .member__company
              Panter
            .member__description
              Machine learning, image analytics
      .card
        %a.member{ href: 'mailto:tim.head@ai-first.ch' }
          %img.member__photo{ src: '/images/team/head.jpg' }
          .member__info
            %h3.member__name Dr. Tim Head
            .member__company

            .member__description
              Machine learning, image analysis, data science and statistics
      .card
        %a.member{ href: 'mailto:kevin.mader@ai-first.ch' }
          %img.member__photo{ src: '/images/team/mader.jpg' }
          .member__info
            %h3.member__name Dr. Kevin Mader
            .member__company

            .member__description
              Machine learning, image analysis, data science and big data
      .card
        %a.member{ href: 'mailto:joachim.haggerl@ai-first.ch' }
          %img.member__photo{ src: '/images/team/hagger.jpg' }
          .member__info
            %h3.member__name Joachim Hagger
            .member__company

            .member__description
              Digital strategies

%article.article.article--geyser#contact
  .page-container
    %h1 Contact
    .contact
      .contact__map
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2701.386498712169!2d8.531538215760499!3d47.38489131126016!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47900a128279ca8b%3A0xc828e1551ae2296!2sAI+First!5e0!3m2!1sen!2sch!4v1502796921826" frameborder="0" style="border:0" allowfullscreen class="contact__map--iframe"></iframe>
      .contact__info
        %h2.contact__title Get in touch
        %div
          %a{href: "mailto:info@ai-first.ch"} info@ai-first.ch
        %h3.contact__subtitle Where
        %div AI First<br>Sihlquai 131<br>8005 Zürich
%article.article.article--reinforcement
  .page-container
    %h1.reinforcement Request a demo of our analytics capabilities for your own, specialized application.
