
.article
  margin: 0
  padding: 0

  .container
    border-top: $v-article-separator-width solid $c-article-separator-color
    display: flex
    flex-direction: column
    justify-content: center
    min-height: 60vh
    padding-bottom: 2.5rem
    padding-top: 2.5rem

  &:first-child
    .container
      border-top: 0

  .row
    img
      display: block
      margin: .5rem auto
      max-width: 100%

