.contact
  &--map
    height: 100%
    width: 100%

    +respond-to(md)
      height: 300px

    +respond-to(lg)
      height: 300px


  +respond-to(md)
    display: flex

    &--map
      flex: 2

    &--info
      flex: 1
      padding-left: 2rem

    &--title
      margin-top: 0

  &--subtitle
    margin-bottom: 0
