.page-footer
  background: $c-main-background
  padding: 2rem 1rem 1rem 1rem
  color: lighten($c-jungle-green, 40%)
  text-align: center

  +respond-to(md)
    text-align: left
    font-size: 0.8rem

  .page-container
    border-top: 1px solid $c-article-separator-color

  a, a:active, a:visited, a:hover
    color: $c-evil-grey
    text-decoration: underline
