.page-header
  position: fixed
  width: 100%
  height: $v-header-height
  background-color: $c-jungle-green
  z-index: 100

  &__logo
    display: block
    width: $v-header-logo-width

    img
      width: $v-header-logo-width

