.page-footer
  .container
    border-top: $v-article-separator-width solid $c-article-separator-color
    padding-bottom: 1rem
    padding-top: 2rem

  ul
    list-style-position: outside
    list-style-type: none
    display: flex
    flex-direction: column
    padding-left: 0

    li
      flex: 0 0 auto

  @include media-breakpoint-up(md)
    nav
      margin-bottom: 2rem

  h2
    font-weight: 400
    font-size: 1.2rem
    font-weight: 700
