.testimonial
  color: $c-blockquote-color
  margin: 3rem 3rem 1rem 1rem
  padding-bottom: 1rem
  padding-left: 2rem

  &--quote
    font-weight: 500

  &--author
    font-style: italic
    font-weight: 300
